.vscode/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.data/
/data/active/*.csv
/data/active/*.json
/data/cache/
/data/reports/
/data/city_geocache.csv

/src/__pycache__/
/src_backup/__pycache__/
*.csv
*.parquet